<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>mon application web</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <header>
            <div class="block">
                <h1>Feedback</h1>
            </div>
        </header>
        <main>
            <section>
                
                <div class="lien">
                <div class="relation"><a href="workflow.html">Demande</a></div>
                <div class="rapport"><a href="Untitled-1.html">Suggesion</a></div> 
                </div>
            </section>
        </main>
        <footer>
            <p><em>Contacter nous via notre site internet</em></p>
            <a href="">www.bhici.com</a>

        </footer>

    </body>
</html>